body {
    background-color: #1e2022;
    font-family: "Segoe UI", sans-serif;
}

h1 {
    color: #79797e;
    text-align: center;
}

p {
    text-align: center;
    color: #ad9d9d;
    font-size: 16px;
}

input {
    border-radius: 8px !important;
}

button {
    background-color: #1b1b1d  !important;
    color: white !important;
    border-radius: 8px !important;
    font-weight: bold;
}


